.portfolio-container.section-container
    .container
        .row
            .col-sm-12.portfolio.section-description.wow.fadeIn
                h2 Portfolio
                .divider-1.wow.fadeInUp
                    span
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    | labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
        .row
            .col-sm-12.portfolio_filters.wow.fadeInUp
                a.filter-all.active(href='#') All
                |  /
                a.filter-design(href='#') Design
                |  /
                a.filter-development(href='#') Development
                |  /
                a.filter-branding(href='#') Branding
        .row
            .col-sm-12.portfolio_masonry
                .portfolio_box.design
                    img(src=require("./img/1a.jpg") , alt='', data-at2x=src=require("./img/1a.jpg"))
                    .portfolio-box_text-container
                        .portfolio-box_text
                            p
                                a(href='#') Lorem website
                .portfolio_box.development
                    img(src=require("./img/2a.jpg"), alt='', data-at2x=src=require("./img/2a.jpg"))
                    .portfolio-box_text-container
                        .portfolio-box_text
                            p
                                a(href='#') Sit amet logo
                .portfolio_box.branding
                    img(src=require("./img/3a.jpg"), alt='', data-at2x=src=require("./img/3a.jpg"))
                    .portfolio-box_text-container
                        .portfolio-box_text
                            p
                                a(href='#') Ipsum social
                .portfolio_box.development
                    img(src=require("./img/4a.jpg"), alt='', data-at2x=src=require("./img/4a.jpg"))
                    .portfolio-box_text-container
                        .portfolio-box_text
                            p
                                a(href='#') Etiam processus dynamicus
                .portfolio_box.design
                    img(src=require("./img/5a.jpg"), alt='', data-at2x=src=require("./img/5a.jpg"))
                    .portfolio-box_text-container
                        .portfolio-box_text
                            p
                                a(href='#') Processus dynamicus logo
                .portfolio_box.development
                    img(src=require("./img/6a.jpg"), alt='', data-at2x=src=require("./img/6a.jpg"))
                    .portfolio-box_text-container
                        .portfolio-box_text
                            p
                                a(href='#') Mirum est notare
                .portfolio_box.design
                    img(src=require("./img/7a.jpg"), alt='', data-at2x=src=require("./img/7a.jpg"))
                    .portfolio-box_text-container
                        .portfolio-box_text
                            p
                                a(href='#') March notare site
                .portfolio_box.development
                    img(src=require("./img/8a.jpg"), alt='',data-at2x=src=require("./img/8a.jpg"))
                    .portfolio-box_text-container
                        .portfolio-box_text
                            p
                                a(href='#') Sit amet logo
                .portfolio_box.branding
                    img(src=require("./img/9a.jpg"), alt='',data-at2x=src=require("./img/9a.jpg"))
                    .portfolio-box_text-container
                        .portfolio-box_text
                            p
                                a(href='#') Lorem website
                .portfolio_box.design
                    img(src=require("./img/10a.jpg"), alt='', data-at2x=src=require("./img/10a.jpg"))
                    .portfolio-box_text-container
                        .portfolio-box_text
                            p
                                a(href='#') Mirum est notare
                .portfolio_box.development
                    img(src=require("./img/11a.jpg"), alt='', data-at2x=src=require("./img/11a.jpg"))
                    .portfolio-box_text-container
                        .portfolio-box_text
                            p
                                a(href='#') Etiam processus social
                .portfolio_box.branding
                    img(src=require("./img/12a.jpg"), alt='', data-at2x=src=require("./img/12a.jpg"))
                    .portfolio-box_text-container
                        .portfolio-box_text
                            p
                                a(href='#') Sit website logo
