.testimonials-container.section-container.section-container-gray
    .container
        .row
            .col-sm-12.testimonials.section-description.wow.fadeInUp
                h2 Testimonials
                .divider-1.wow.fadeInUp
                    span
                .testimonial-active
                .testimonial-single
                    p
                        | Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
                        | lobortis nisl ut aliquip ex ea commodo consequat. Ut wisi enim ad minim veniam,
                        | quis nostrud exerci tation ullamcorper suscipit lobortis nisl.
                        br
                        a(href='') John Doe, johndoe.com
                    .testimonial-single-image
                        img(src=require("./img/1e.jpg"), alt='', data-at2x = src=require("./img/1e.jpg"))
                .testimonial-single
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                        | ut labore et. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        | incididunt ut labore et.
                        br
                        a(href='') Jane Jonsson, blog.jane.com
                    .testimonial-single-image
                        img(src=require("./img/2e.jpg"), alt='', data-at2x = src=require("./img/2e.jpg"))
                .testimonial-single
                    p
                        | Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
                        | lobortis nisl ut aliquip ex ea commodo consequat. Ut wisi enim ad minim veniam,
                        | quis nostrud exerci tation ullamcorper suscipit lobortis nisl.
                        br
                        a(href='') John Doe, johndoe.com
                    .testimonial-single-image
                        img(src=require("./img/3e.jpg"), alt='', data-at2x = src=require("./img/3e.jpg"))
                .testimonial-single
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                        | ut labore et. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        | incididunt ut labore et.
                        br
                        a(href='') Jane Jonsson, blog.jane.com
                    .testimonial-single-image
                        img(src=require("./img/4e.jpg"), alt='', data-at2x =src=require("./img/4e.jpg"))
